{{- define "validateSchema" -}}

{{- $webrpcVersion := .WebrpcVersion}}
{{- $webrpcGenVersion := .WebrpcGenVersion}}
{{- $types := .Types -}}
{{- $services := .Services -}}

{{- if ne $webrpcVersion "v1" -}}
    {{- stderrPrintf "%s generator error: unsupported webrpc version %s\n" .WebrpcTarget .WebrpcVersion -}}
    {{- exit 1 -}}
{{- end -}}

{{- if not (minVersion $webrpcGenVersion "v0.17.2") -}}
    {{- stderrPrintf "%s generator error: unsupported webrpc-gen version %s, please update\n" .WebrpcTarget .WebrpcGenVersion -}}
    {{- exit 1 -}}
{{- end -}}

{{- range $_, $type := $types -}}
    {{- if not (or (isCoreType $type) (isEnumType $type)) }}
        {{- template "validateType" dict "Id" $type.Name "Type" $type "Types" $types -}}
    {{- end -}}
{{- end -}}

{{- range $_ := $services -}}
    {{- range $_ := .Methods -}}
        {{- range $_, $input := .Inputs}}
            {{- template "validateType" dict "Id" $input.Name "Type" $input.Type "Types" $types -}}
        {{- end -}}
        {{- range $_, $output := .Outputs}}
            {{- template "validateType" dict "Id" $output.Name "Type" $output.Type "Types" $types -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- end -}}